<template lang="pug">
.section
  //.h1 Title
  audioplayer
</template>

<script lang="ts">
import {
  Component,
  Vue
} from "nuxt-property-decorator"
import Audioplayer from "~/components/audioplayer.vue"

@Component({
  components: {
    Audioplayer
  }
})
export default class extends Vue {
  
}
</script>