<template lang="pug">
div
    button.play(@click="play") PLAY
    button.play(@click="pause") PAUSE
    div.waveform
    audio.audio-item(src="1.mp3" controls ref="audio")
</template>

<script>
import {
  Component,
  Vue,
} from "nuxt-property-decorator"

export default {
  methods: {
    play() { 
        this.$refs.audio.play();
    },
    pause() {
        this.$refs.audio.pause();  
    }
  },
  mounted() {
    
  }
}
</script>

<style lang="stylus">
.audio-item
  display none
</style>
